<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!--    <include resource="cn/com/pg/paas/monitor/logging/logback/console-json-appender.xml"/>-->
    <!--dev,qa spring boot console-->
<!--    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>-->

    <!-- 默认的控制台日志输出，一般生产环境都是后台启动，这个没太大作用 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilte" >
            <level>debug</level>
        </filter>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
        </encoder>
        <file>${logging.path}/${spring.application.name}.log</file>
    </appender>

    <springProfile name="local,dev">
        <root level="debug">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
